<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="de.ip_connect.lbk" android:versionCode="1" android:versionName="1.0.0">
	<uses-sdk android:minSdkVersion="8" android:targetSdkVersion="17" />
	<application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
		<activity android:name="lbk.mobile.plugin.documentviewer.droid.PdfView" android:label="@string/menu_name" android:icon="@drawable/ic_launcher">
			<!--<intent-filter>
            <action android:name="android.intent.action.VIEW"></action>
            <category android:name="android.intent.category.DEFAULT"></category>
            <category android:name="android.intent.category.BROWSABLE"></category>
            <data android:scheme="yourapp" android:host="twitt"></data>
        </intent-filter>-->
		</activity>
		<activity android:name="lbk.mobile.plugin.webvideo.droid.YoutubeView" android:icon="@drawable/ic_launcher" />
	</application>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>